@import "tailwindcss";
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {



  --color-primary-50: #f7fff5;
  --color-primary-100: #efffeb;
  --color-primary-200: #dbffd1;
  --color-primary-300: #c3ffb2;
  --color-primary-400: #98ff7a;
  --color-primary-500: #60ff33;
  /* base viva */
  --color-primary-600: #40ff0a;
  --color-primary-700: #32e000;
  --color-primary-800: #29b800;
  --color-primary-900: #208f00;

  /* Secondary — teal/azul que contrasta bien con el verde */
  --color-secondary-50: #eefcff;
  --color-secondary-100: #d8f7ff;
  --color-secondary-200: #b9effe;
  --color-secondary-300: #86e4fd;
  --color-secondary-400: #49d0f8;
  --color-secondary-500: #12b6eb;
  /* un poco más “teal” que #0ea5e9 */
  --color-secondary-600: #0a90c5;
  --color-secondary-700: #0b74a1;
  --color-secondary-800: #0f5e83;
  --color-secondary-900: #124e6b;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {

  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}