@import "tailwindcss";
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #f8fff5;
  --color-primary-100: #ecffdf;
  --color-primary-200: #d4ffba;
  --color-primary-300: #b9ff90;
  --color-primary-400: #a1ff74;
  --color-primary-500: #87ff65; /* color principal */
  --color-primary-600: #6ce54f;
  --color-primary-700: #52c53b;
  --color-primary-800: #3ca12b;
  --color-primary-900: #2a7a1e;

  /* Secondary — teal/azul que contrasta bien con el verde */
  --color-secondary-50: #ffd9e0;
  --color-secondary-100: #ffd9e0;
  --color-secondary-200: #ffb3c0;
  --color-secondary-300: #ff8ca0;
  --color-secondary-400: #f95c7e;
  --color-secondary-500: #ee4266; /* color principal */
  --color-secondary-600: #d3365a;
  --color-secondary-700: #b32d4e;
  --color-secondary-800: #912541; /* color de boton */
  --color-secondary-900: #661930;

  /* Set Typography */
  --font-sans: "Inter", sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  html,
  body {
    font-family: var(--font-sans);
  }

  /* Encabezados con la display */
  h1,
  h2,
  h3,
  .font-display {
    font-family: var(--font-display);
  }

  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
